.navigations{
    background-color: #0000EE;
    color: antiquewhite;
}

.right{
   display: inline;
   float:right;
}
.account{
   font-weight: 500;
   font-family: 'Helvetica';
}

.active{
    content: "";
    display: inline;
    color:antiquewhite;
    padding-bottom:12px;
    margin-bottom:0px;
    font-weight:500;
    font-family: 'Helvetica';
    border-bottom:12px white solid;
}
.links{  
    font-weight: 500;
    font-family: 'Helvetica';
    color:antiquewhite;
}
nav.p-6{
    padding:1.08rem;
}

